Repository b4nst/stream-mock: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write, prettier --parser json --write, prettier --parser markdown --write, prettier-package-json --write

:rotating_light: fix lint
  package.json
  src/constant/WARNINGS.ts
  src/duplex/DuplexMock.ts
  src/duplex/index.ts
  src/helpers/Warning.ts
  src/helpers/converters/chunk2Buffer.ts
  src/helpers/warnOnce.ts
  src/readable/BufferReadableMock.ts
  src/readable/ObjectReadableMock.ts
  src/readable/ReadableMock.ts
  src/types/chunk.ts
  src/types/index.ts
  src/writable/BufferWritableMock.ts
  src/writable/ObjectWritableMock.ts
  src/writable/WritableMock.ts
  tslint.json
Due: tslint --fix, prettier --write, prettier --parser json --write, prettier-package-json --write

:rotating_light: fix lint
  src/constant/index.ts
  src/helpers/converters/chunk2Buffer.ts
  src/readable/ReadableMock.ts
  src/writable/ObjectWritableMock.ts
  src/writable/WritableMock.ts
Due: tslint --fix, prettier --write

:construction_worker: add node 11 to build test
  .travis.yml
Due: none

:fire: delete old js files
  package.json
  src.js/main/commons/writable.js
  src.js/main/index.js
  src.js/test/duplex-mock.test.js
  src.js/test/index.js
  src.js/test/writable-mock.test.js
Due: prettier --parser json --write, prettier-package-json --write

:green_heart: node 9 is not supported
  .travis.yml
Due: none

:green_heart: node 6 not supported (currently)
  .travis.yml
  package.json
Due: prettier --parser json --write, prettier-package-json --write

:bulb: add doc
  .jsdocrc
  package.json
  src/constant/WARNINGS.ts
  src/duplex/DuplexMock.ts
  src/duplex/index.ts
  src/helpers/Warning.ts
  src/helpers/applyMixins.ts
  src/helpers/converters/any2Buffer.ts
  src/helpers/converters/chunk2Buffer.ts
  src/helpers/converters/index.ts
  src/helpers/index.ts
  src/helpers/warnOnce.ts
  src/index.ts
  src/readable/BufferReadableMock.ts
  src/readable/IReadableMock.ts
  src/readable/ObjectReadableMock.ts
  src/readable/ReadableMock.ts
  src/readable/index.ts
  src/types/chunk.ts
  src/types/index.ts
  src/writable/BufferWritableMock.ts
  src/writable/IWritableMock.ts
  src/writable/ObjectWritableMock.ts
  src/writable/WritableMock.ts
  src/writable/index.ts
  typedoc.json
  yarn.lock
Due: tslint --fix, prettier --write, prettier --parser json --write, prettier-package-json --write

:construction_worker: prepare travis to release
  .travis.yml
  resources/scripts/bump-version.sh
Due: none

:bug: fix ci
  .travis.yml
Due: none

:construction_worker: bump major
  .travis.yml
  resources/scripts/prepare-release.sh
Due: none

:construction_worker: bump major
  resources/scripts/prepare-release.sh
Due: none

:construction_worker: giveup automatic tagging
  .travis.yml
  resources/scripts/prepare-release.sh
Due: none

:bulb: release doc
  docs/assets/js/search.js
  docs/classes/duplex.duplexmock.html
  docs/classes/helpers.warning.html
  docs/classes/readable.bufferreadablemock.html
  docs/classes/readable.objectreadablemock.html
  docs/classes/readable.readablemock.html
  docs/classes/writable.bufferwritablemock.html
  docs/classes/writable.objectwritablemock.html
  docs/classes/writable.writablemock.html
  docs/enums/helpers.warning_types.html
  docs/globals.html
  docs/index.html
  docs/interfaces/readable.ireadablemock.html
  docs/interfaces/types.ichunk.html
  docs/interfaces/writable.iwritablemock.html
  docs/modules/_example_.html
  docs/modules/constant.html
  docs/modules/duplex.html
  docs/modules/helpers.html
  docs/modules/readable.html
  docs/modules/types.html
  docs/modules/writable.html
Due: none

:bookmark: prepare release 2.0.0
  package.json
Due: prettier --parser json --write, prettier-package-json --write

:ambulance: fix deploying empty package
  .travis.yml
Due: none

:bookmark: prepare release 2.0.1
  package.json
Due: prettier --parser json --write, prettier-package-json --write

:bug: fix ci not deploying
  .travis.yml
Due: none

:bookmark: prepare release 2.0.2
  package.json
Due: prettier --parser json --write, prettier-package-json --write

:rotating_light: fix code climate
  README.md
Due: prettier --parser markdown --write

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --parser markdown --write

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: prettier --parser markdown --write

Revert "Update @types/node to the latest version 🚀"
  package.json
  yarn.lock
Due: prettier --parser json --write, prettier-package-json --write

:memo: add contributing guideline
  CONTRIBUTING.md
  README.md
Due: prettier --parser markdown --write

:arrow_up: upgrade dependencies
  yarn.lock
Due: none

:alien: use new BufferEncoding instead of raw string
  src/duplex/DuplexMock.ts
  src/helpers/converters/any2Buffer.ts
  src/readable/BufferReadableMock.ts
  src/readable/ReadableMock.ts
  src/types/chunk.ts
  src/writable/WritableMock.ts
  tslint.json
Due: tslint --fix, prettier --write, prettier --parser json --write

:alien: switch to BufferEncoding instead of raw string
  src/writable/BufferWritableMock.ts
  src/writable/ObjectWritableMock.ts
Due: tslint --fix, prettier --write

try github action
  .github/main.workflow
Due: none

:memo: add github action badge
  README.md
Due: prettier --parser markdown --write

👷 Added node.js 12 to travis build matrix
  .travis.yml
Due: none

:bug: use _state instead of *ObjectMode
  .vscode/launch.json
  package.json
  src/duplex/DuplexMock.ts
  src/readable/ReadableMock.ts
  src/test.ts
  src/writable/WritableMock.ts
  tslint.json
  yarn.lock
Due: tslint --fix, prettier --write, prettier --parser json --write, prettier-package-json --write

:construction_worker: add node 12
  .github/main.workflow
Due: none

:memo: fix action badge
  README.md
Due: prettier --parser markdown --write

:bulb: update doc
  docs/assets/js/search.js
  docs/classes/duplex.duplexmock.html
  docs/classes/helpers.warning.html
  docs/classes/readable.bufferreadablemock.html
  docs/classes/readable.objectreadablemock.html
  docs/classes/readable.readablemock.html
  docs/classes/writable.bufferwritablemock.html
  docs/classes/writable.objectwritablemock.html
  docs/classes/writable.writablemock.html
  docs/enums/helpers.warning_types.html
  docs/globals.html
  docs/index.html
  docs/interfaces/readable.ireadablemock.html
  docs/interfaces/types.ichunk.html
  docs/interfaces/writable.iwritablemock.html
  docs/modules/_test_.html
  docs/modules/constant.html
  docs/modules/duplex.html
  docs/modules/helpers.html
  docs/modules/types.html
  docs/modules/writable.html
Due: none

:bookmark: prepare release 2.0.3
  package.json
Due: prettier --parser json --write, prettier-package-json --write

:memo: update travis badge
  README.md
Due: prettier --parser markdown --write

:memo: fix greenkeeper badge
  README.md
Due: prettier --parser markdown --write

:memo: add changelog
  CHANGELOG.md
Due: prettier --parser markdown --write

:memo: add badges
  .travis.yml
  README.md
Due: prettier --parser markdown --write

Path conditions:
  tslint --fix: any of: *.ts
  prettier --write: any of: *.ts
  prettier --parser json --write: any of: *.json
  prettier --parser markdown --write: any of: *.md
  prettier-package-json --write: any of: package.json
