Repository b4nst/stream-mock: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write, prettier --parser json --write, prettier --parser markdown --write, prettier-package-json --write

.lintstagedrc:

{
  "*.ts": ["tslint --fix", "prettier --write", "git add"],
  "*.json": ["prettier --parser json --write", "git add"],
  "*.md": ["prettier --parser markdown --write", "git add"],
  "package.json": ["prettier-package-json --write", "git add"]
}

:fire: remove _writev write is always synv
  src/writable/BufferWritableMock.ts
  src/writable/ObjectWritableMock.ts
  src/writable/WritableMock.ts
Due: tslint --fix, prettier --write

:white_check_mark: add converter tests
  test/helpers/converters.test.ts
Due: tslint --fix, prettier --write

:fire: remove duplicate code
  src/readable/BufferReadableMock.ts
  src/readable/ReadableMock.ts
Due: tslint --fix, prettier --write

:memo: add changelog
  CHANGELOG.md
Due: prettier --parser markdown --write

Link generated types in package.json
  package.json
Due: prettier --parser json --write, prettier-package-json --write

Remove unused import in README example snippet
  README.md
Due: prettier --parser markdown --write

:memo: update changelog
  CHANGELOG.md
Due: prettier --parser markdown --write

:memo: update doc and changelog to prepare release
  CHANGELOG.md
  docs/assets/js/search.js
  docs/classes/duplex.duplexmock.html
  docs/classes/helpers.warning.html
  docs/classes/readable.bufferreadablemock.html
  docs/classes/readable.objectreadablemock.html
  docs/classes/readable.readablemock.html
  docs/classes/writable.bufferwritablemock.html
  docs/classes/writable.objectwritablemock.html
  docs/classes/writable.writablemock.html
  docs/enums/helpers.warning_types.html
  docs/index.html
  docs/interfaces/readable.ireadablemock.html
  docs/interfaces/types.ichunk.html
  docs/interfaces/writable.iwritablemock.html
  docs/modules/_test_.html
  docs/modules/constant.html
  docs/modules/helpers.html
Due: prettier --parser markdown --write

:bookmark: prepare release 2.0.4
  package.json
Due: prettier --parser json --write, prettier-package-json --write

:green_heart: update travis deployment
  .travis.yml
  CHANGELOG.md
Due: prettier --parser markdown --write

:bookmark: prepare release 2.0.5
  package.json
Due: prettier --parser json --write, prettier-package-json --write

chore(package): update lockfile
  yarn.lock
Due: none

Update README.md
  README.md
Due: prettier --parser markdown --write

:memo: update readme
  CHANGELOG.md
Due: prettier --parser markdown --write

:construction_worker: migrate CI
  .github/main.workflow
  .github/workflows/pushflow.yml
Due: none

:construction_worker: add ci workflows
  .github/workflows/deploy.yml
  .github/workflows/quicktest.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: prettier --parser json --write, prettier-package-json --write

:green_heart: fix deploy trigger
  .github/workflows/deploy.yml
Due: none

:construction_worker: add changelog check
  .github/workflows/checkchangelog.yml
Due: none

:fire: remove travis file
  .travis.yml
Due: none

:green_heart: fix changelog workflow
  .github/workflows/checkchangelog.yml
Due: none
