Repository b4nst/stream-mock: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write, prettier --parser json --write, prettier --parser markdown --write, prettier-package-json --write

.lintstagedrc:

{
  "*.ts": ["tslint --fix", "prettier --write", "git add"],
  "*.json": ["prettier --parser json --write", "git add"],
  "*.md": ["prettier --parser markdown --write", "git add"],
  "package.json": ["prettier-package-json --write", "git add"]
}

:memo: add doc
  CHANGELOG.md
  README.md
Due: prettier --parser markdown --write

:arrow_up: upgrade deps
  package-lock.json
  package.json
  yarn.lock
Due: prettier --parser json --write, prettier-package-json --write

:construction_worker: update workflows
  .github/workflows/checkchangelog.yml
  .github/workflows/quicktest.yml
  package-lock.json
Due: prettier --parser json --write

:hankey: test reporter id
  .github/workflows/quicktest.yml
Due: none

:hankey: debug
  .github/workflows/quicktest.yml
Due: none

:hankey: hardcode id
  .github/workflows/quicktest.yml
Due: none

:hankey: env injection
  .github/workflows/quicktest.yml
Due: none

:hankey: debug branch in cc
  .github/workflows/quicktest.yml
Due: none

:bug: fix env
  .github/workflows/quicktest.yml
Due: none

update changelog
  CHANGELOG.md
Due: prettier --parser markdown --write

delete obsolete yarn file
  yarn.lock
Due: none

Impelement ErrorReadableMock
  src/readable/ErrorReadableMock.ts
  src/readable/index.ts
  test/readable/ErrorReadableMock.test.ts
Due: tslint --fix, prettier --write

Update CHANGELOG
  CHANGELOG.md
Due: prettier --parser markdown --write
